<div class="alert alert-info">
<p>
The poster sessions are scheduled: 
</p>
<p>
<strong>Tuesday, June 5</strong> from 18:30 onwards in Building A (first and second floor) and B (ground floor).
</p>
<p>
<strong>Wednesday, June 6</strong> from 11:30 to 13:00 in Building A (first and second floor) and B (ground floor).
</p>
</div>

<p class="centered">
<a href='https://www.siam-is18.dm.unibo.it/posters_map.pdf'><%= icon('map', size: 32) %>  Poster's Map</a><br/>
</p>


