<%= program_title('Poster Sessions', 'picture-o') %>  

<% if user_in_organizer_commettee? %>  
  <p class="centered"><%= link_to 'Create Poster Session', new_poster_session_path, class: :big_button %></p>
<% end %>

<%= render partial: 'deadlines/presentation_submission' %>  

<%= render partial: 'conference_sessions/presentations', locals: {conference_sessions: PosterSession.includes(:schedule)} %>  

