<h1>Poster Sessions</h1>

<p>Multiple poster sessions will be organized for presentation during the conference.</p>
<p>Additional details will be posted as they become available.</p>

<% if user_in_organizer_commettee? %>  
  <p class="centered"><%= link_to 'Create Poster Session', new_poster_session_path, class: :big_button %></p>
<% end %>

<%= render partial: 'deadlines/presentation_submission' %>  

<%= render @poster_sessions %>

