<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <div class="alert alert-warning">
    <p>If you do not have an account, in order to <strong>register or submit minisymposia, presentations and posters</strong>, you have to create one.</p>
    <div class="new-account-button"><%= link_to big_icon('user-plus') + " Create a new account", new_registration_path(resource_name), class: :button %></div>
  </div>
<% end -%>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <div class="alert alert-warning">
    <p>If you have created the account but didn't receive confirmation instructions
    <%= link_to "Resend confirmation instructions", new_confirmation_path(resource_name), class: :button %>
    </p>
  </div>
<% end -%>


