<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <p><%= link_to icon('user-plus') + " Create a new account", new_registration_path(resource_name), class: :button %></p>
<% end -%>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <p><%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %></p>
<% end -%>


