<h1>Presentations</h1>

<% if @current_user_presentations.any? %>  
  <h2>You are author in the following presentations:</h2>
  <% @current_user_presentations.each do |presentation| %>  
    <%= render presentation %> 
  <% end %>
<% else %>
  <p class='alert alert-warning'>You are author in no presentations for Siam-is18.</p>
<% end %>

<p class="centered">
<%= link_to 'Submit Presentation Proposal', new_presentation_path, class: :big_button %>  
</p>

<% if current_user.committee_organizer? %>  
  <h2>All presentations</h2>

  <p class="alert alert-success">Since you are in committee organization, here are all the presentations in siam-is18:</p>

  <ul class="list-group">
  <% Presentation.find_each do |presentation| %>  
    <li class="list-group-item"><%= link_to presentation, presentation %> <span class="badge pull-right"><%= presentation.parent_event_abbr %></span></li>
  <% end %>
  </ul>
<% end %>
