<h1>Presentations</h1>

<dl class="dl-horizontal">
  <dt>ciao</dt>
  <dd>ppp</dd>
</dl>

<% if @current_user_presentations.any? %>  
  <h5>You are author in the following presentations:</h5>

  <% @current_user_presentations.each do |presentation| %>  
    <%= render presentation %> 
  <% end %>
<% else %>
  <span class='alert alert-warning'>You are actually author in no presentations for Siam-is18.</span>
<% end %>

<p class="centered">
<%= link_to 'Submit Presentation Proposal', new_presentation_path, class: :big_button %>  
</p>

<% if current_user.committee_organizer? %>  
  <h5>All presentations</h5>

  Since you are in committee organization, here are all the presentations in siam-is18:

  <ul class="collection">
  <% Presentation.find_each do |presentation| %>  
    <li class="collection-item"><%= link_to presentation, presentation %></li>
  <% end %>
  </ul>
<% end %>
