<%= title_with_conference("Submit #{@presentation.poster ? 'poster' : 'presentation'} for") %>

<div class="alert alert-info">
  <% if @conference_session and @conference_session.is_a?(Minisymposium) %>  
    <p>
      You are submitting a presentation for the Minisymposium: 
      <strong>&ldquo;<em><%= link_to @conference_session, @conference_session %></em>&rdquo;</strong>.
    </p>
    <p>In the next page you will be asked for <strong>authors</strong> of this presentation.</p> 
    <p>You can leave the astract empty. If the minisymposium is accepted, the speaker will be asked to complete the presentation abstract and eventually add authors.</p>
  <% else %>
    Contributed presentations in lecture or poster format are invited in all areas consistent with the conference themes.<br/>
    A <strong>lecture</strong> format is generally a 15-minute oral presentation with an additional 5 minutes for discussion. Talk lengths will be determined by the co-chairs at the close of submissions. A <strong>poster</strong> format involves the use of non-electronic visual aids for mounting on a 4’ x 8’ poster board. A poster session is two hours long. Each contributor, either for a lecture or a poster, must submit a title and a brief abstract not to exceed 75 words. 
  <% end %>
</div>

<% if @presentation.poster %>  
  <p><%= link_to icon('external-link') + ' How to Prepare a Poster (SIAM site).', 'https://www.siam.org/meetings/guidelines/poster.php', target: '_new' %></p>
<% end %>

<%= render partial: 'form' %>  
