<h1>Submit new <%= @presentation.poster ? 'Poster' : 'Presentation' %></h1>

<% if @conference_session %>  
  <h2>For <em><%= @conference_session %></em></h2>
<% end %>

<%= render partial: 'form' %>  
