<h1>Submit new <%= @presentation.poster ? 'Poster' : 'Presentation' %>
<% if @conference_session %>  
  <br/><small>For <em><%= @conference_session %></small>
<% end %>
</h1>

<%= render partial: 'form' %>  
