<h1><%= t @presentation.umbrella %></h1>

<% if @presentation.session %>  
  <h2><%= @presentation.session %> <%= link_to icon(:search), @presentation.session %></h2>
<% end %>

<%= render @presentation %>

