<p>A minisymposium generally consists of <strong>four 25-minute presentations</strong>, with an additional five minutes for discussion after each presentation. Prospective minisymposium organizers are asked to submit a proposal consisting of a title, a description (not to exceed 100 words), and a list of speakers and titles of their presentations.</p>

<p>It is recommended that a minisymposium organizer make the first presentation. Each minisymposium speaker should submit a 75-word abstract. The organizing committee will referee minisymposium proposals. The number of minisymposia may be limited to retain an acceptable level of parallelism in the conference sessions.</p>

<p>To ensure balance, SIAM prefers a single individual does not organize more than one minisymposium, however, organizers can submit up to four parts per minisymposium. In addition, SIAM discourages minisymposia in which most of the speakers or co-authors come from the same institution. Additionally, SIAM requests speakers submit only one lecture presentation for the conference, either a minisymposium or contributed lecture. Poster submissions are not restricted.</p>

<p>
Be certain to visit <%= link_to 'Guidelines for Preparing a Minisymposium Proposal', 'https://www.siam.org/meetings/guidelines/mini_guide.php' %>.  
</p>

