<%= program_title('Minisymposia', 'users') %>  

<%= render partial: 'description' %>  
<%= render partial: 'deadlines/minisymposium_submission' %>  

<ul class="list-group">
  <% cache 'minisymposia_list_cache' do %>
    <% @minisymposia.each do |minisymposium| %>
      <li class="list-group-item">
        <%= link_to minisymposium, minisymposium, remote: true %> 
      </li>
    <% end %>
<% end %>
</ul>

