<h1>Administration</h1>

<h2>All Minisymposia</h2>
<ul class="list-group">
  <% @minisymposia.find_each do |minisymposium| %>  
    <li class="list-group-item">
      <%= link_to minisymposium, minisymposium_path(minisymposium) %> 
      <ul>
        <% rated = nil %>  
        <% minisymposium.ratings.each do |rating| %>  
          <li><%= rating.user %> <%= rating_stars(rating.score) %></li>
          <%- rated = true if rating.user == current_user %>  
        <% end %>
        <% unless rated %>  
          <li><%= link_to icon('star') + ' rate', new_minisymposium_rating_path(minisymposium), class: 'button' %></li>
        <% end %>
      </ul>
    </li>
  <% end %> 
</ul>
