<%= program_title('Plenary Sessions', 'user') %>  

<% if user_in_organizer_committee? %>
  <p class="centered"><%= link_to 'Create new Plenary', new_plenary_path, class: :big_button %></p>
<% end %>

<%= render @plenaries %>  

