<h1>Invited Plenaries</h1>

<% @plenaries.each do |plenary| %>  
  <%= render plenary %>    
<% end %>

<p>
  <%= link_to('Create new Plenary', new_plenary_path, class: :button) if user_in_organizer_commettee? %>  
</p>
