<h1>Registered users</h1>

<ul class="list-group">
  <% User.find_each do |user| %>  
    <li class="list-group-item">
      <strong><%= user.cn %></strong>
      <em><small><%= user.affiliation %></small></em> 
      <span class="pull-right">
        <%= link_to_edit [:edit, user] %>
        <%= link_to icon('file'), user_presentations_path(user), title: 'show prentations' %> 
      </span>
    </li>
  <% end %>
</ul>

