<h1>Multiple speakers</h1>

<p>* are presentations in minisymposia</p>

<dl class="dl-horizontal">
  <% @multiple_speakers.each do |user| %>  
    <% if user.presentation_count > 1 %>  
      <dt><%= link_to user.cn_simple, user, remote: true %></dt>
      <% @multiple_speakers_presentations[user.id].each do |p| %>  
        <dd><%= link_to p[:name], presentation_path(p[:id]), remote: true %> <%= '*' if p[:type] == 'Minisymposium'  %>  </dd>
      <% end %>
    <% end %>
  <% end %>
</dl>


