<% show_venue ||= false %>  

<div id="map" style="height: 650px; width: 100%"></div>
<%= javascript_tag do %>  
  var belmeloro    = { position: {lat: 44.4954923, lng: 11.3550045}, html_name: '<strong>Main conference site</strong><br/>Complesso Belmeloro', name: 'Main conference site: Complesso Belmeloro' };
  var santa_lucia  = { position: {lat: 44.4899831, lng: 11.3487226}, html_name: '<strong>First day Plenary Presentations</strong><br/>Aula Magna Santa Lucia', name: 'First day Plenary Presentations: Aula Magna Santa Lucia' };

  var places       = <%= raw Hotel.google_map_array.to_json %>;

  // places.push({ position: {lat: 44.4954923, lng: 11.3550045}, html_name: '<strong>Main conference site</strong><br/>Complesso Belmeloro', name: 'Main conference site: Complesso Belmeloro' });
  // places.push({ position: {lat: 44.4899831, lng: 11.3487226}, html_name: '<strong>First day Plenary Presentations</strong><br/>Aula Magna Santa Lucia', name: 'First day Plenary Presentations: Aula Magna Santa Lucia' });

  var hotel_page_url = '<%= hotels_url %>';

  var map; // global
  var map_options    = { zoom: 15,
                         minZoom: 13,
                         center: belmeloro['position'],
                         scrollwheel: false };


  function initMap() {
    map = new google.maps.Map(document.getElementById('map'), map_options);

    var belmeloro_info = new google.maps.InfoWindow({content: belmeloro['html_name']});
    var belmeloro_marker = new google.maps.Marker({ position: belmeloro['position'],
                                          map: map, 
                                          title: belmeloro['name'],
                                          icon: '/false_icon.png', 
                                          label: {
                                            fontFamily: 'Fontawesome',
                                            text: '\uf015',
                                            fontSize: '32px', 
                                            color: '#2a2654'
                                          },
                                        });
    google.maps.event.addListener(belmeloro_marker, 'click', function() { belmeloro_info.open(map, belmeloro_marker); });

    // AULA MAGNA
    var santa_lucia_info = new google.maps.InfoWindow({content: santa_lucia['html_name']});
    var santa_lucia_marker = new google.maps.Marker({ position: santa_lucia['position'],
                                          map: map, 
                                          title: santa_lucia['name'],
                                          icon: '/false_icon.png', 
                                          label: {
                                            fontFamily: 'Fontawesome',
                                            text: '\uf006',
                                            fontSize: '32px',
                                            color: '#c73b3b'
                                          },
                                        });
    google.maps.event.addListener(santa_lucia_marker, 'click', function() { santa_lucia_info.open(map, santa_lucia_marker); });

    <% if show_venue %>  
      belmeloro_info.open(map, belmeloro_marker); 
      santa_lucia_info.open(map, santa_lucia_marker);
    <% end %>

    // HOTELS
    var hotel_markers = {};
    places.forEach(function(item, index) {
      var hotel_id = item['id'];
      var hotel_description = '<strong><a href="' + hotel_page_url + '#hotel_' + hotel_id + '">' + item['name'] + '</a></strong>' + '<br/>' + item['address'];
      var hotel_info = new google.maps.InfoWindow({ content: hotel_description });

      hotel_markers[hotel_id] = new google.maps.Marker({ position: item['position'], 
                                                         map: map, 
                                                         title: item['name'],
                                                         icon: '/false_icon.png', 
                                                         label: {
                                                           fontFamily: 'Fontawesome',
                                                           text: '\uf236', 
                                                           fontSize: '22px', 
                                                           color: 'purple'
                                                         },
                                                       });
      google.maps.event.addListener( hotel_markers[hotel_id], 'click', 
                                     function() { hotel_info.open(map, hotel_markers[hotel_id]); 
                                                  $(".hotel-panel").removeClass('hotel-panel_selected');
                                                  $("#hotel_" + hotel_id).addClass('hotel-panel_selected');
                                   });
    });

    $('.activate_address_link').click(function(e) {
      var addressid = $(this).data('addressid');
      google.maps.event.trigger(hotel_markers[addressid], 'click');
      map.setCenter(hotel_markers[addressid].position); 
      window.location.href = '#map';
      e.preventDefault();
    });
  };
<% end %>

<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['SIAMIS_GOOGLE_MAP_API_KEY'] %>&callback=initMap&libraries=places">
</script>


