<%= home_program_title("Awards", 'trophy') %>  

<p>During the conference the Organizing Committee will assign two special awards to promote and reward new ideas: </p>

<div style="font-size: 120%; font-weight: bold">
<p>IS18 best poster award</p>
<p>IS18 best challenging application award <small>(among posters and mini symposia)</small></p>
</div>



