<%= home_program_title("Awards", 'trophy') %>  

<p>During the conference the Organizing Committee will assign two special awards to promote and reward new ideas: </p>

<div style="font-size: 120%; font-weight: bold">
  <p>Best poster award: 2000 &euro;</p>
  <p>Best challenging application award <small>(among posters and mini symposia)</small>: 1000 &euro;</p>
</div>



