<%= home_program_title("Conference Themes", :info) %>  

<p>Reconstruction, enhancement, segmentation, analysis, registration, compression, representation, and tracking of two and three dimensional images are vital to many areas of science, medicine, and engineering. The increasingly sophisticated mathematical, statistical and computational methods employed in these research areas are referred to as Imaging Science. These techniques include transform and orthogonal series methods, nonlinear optimization, numerical linear algebra, integral equations, partial differential equations, Bayesian and other statistical inverse estimation methods, operator theory, differential geometry, information theory, interpolation and approximation, inverse problems, computer graphics and vision, stochastic processes, and others.</p>

