<%= home_program_title("Conference Themes", :info) %>  

<p>The reconstruction, enhancement, segmentation, analysis, registration, compression, representation,
and tracking of two and three dimensional images are vital to many areas of science, medicine, and
engineering. As a result, increasingly sophisticated mathematical, statistical, and computational
methods are being employed in these research areas, which may be referred to as imaging science.
These techniques include transform and orthogonal series methods, nonlinear optimization, numerical
linear algebra, integral equations, partial differential equations, Bayesian and other statistical inverse
estimation methods, operator theory, differential geometry, information theory, interpolation and
approximation, inverse problems, computer graphics and vision, stochastic processes, and others.</p>


