<%= home_program_title('Exhibits', 'tv') %>  

<p>
Publishers, software and hardware suppliers, and service organizations that have products to offer to 
conference attendees are invited to exhibit.</p>

<p>
For additional information and exhibit fees, please contact the SIAM-IS18 representative at  
<%= mail_to_siam %>  
</p>

