<div style="position: relative" class="home_header">
<div id="homeCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#homeCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#homeCarousel" data-slide-to="1"></li>
    <li data-target="#homeCarousel" data-slide-to="2"></li>
    <li data-target="#homeCarousel" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active" style="background-image: url(<%= image_url('bg/bg_pedro.jpg')%>)">
      &nbsp;
    </div>

    <div class="item" style="background-image: url(<%= image_url('bg/bg_nettuno.jpg')%>)">
      &nbsp;
    </div>

    <div class="item" style="background: url(<%= image_url('bg/bg_torri.jpg')%>) top left">
      &nbsp;
    </div>

    <div class="item" style="background-image: url(<%= image_url('bg/bg_red.jpg')%>)">
      &nbsp;
    </div>
  </div>

</div>

<div class="container" id="home_header_container">
  <!-- Left and right controls -->
  <a class="left carousel-control" href="#homeCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#homeCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
  <h1 class="home_header_title">
    <span>SIAM Conference on</span> <br/>
    <span>IMAGING SCIENCE</span><br/>
    <div class="home_header_title-date">
      <span>June 5-8, 2018</span><br/> 
      <span> Bologna - Italy</span>
    </div>
  </h1>
</div>
</div>

