<%# <p class="centered alert alert-info" style="font-size: 120%"> %>
<%#   SIAM-IS18 <br/> is happening in <br/> <strong><%= big_icon('bell') %1> <%= (Rails.configuration.conference_start_date - Date.today).to_i %1> days!</strong> %>
<%# </p> %>

<div class="container" style="max-width: 992px;">
  <p class="centered">
  <span class="fa-stack fa-lg" style="margin-top: 20px; font-size: 60px; border-radius: 50%; border: 3px solid; color: green">
    <i class="fa fa-bell-o fa-stack-1x"></i>
  </span>
  </p>

  <%# <p> %>
  <%# The SIAM IS18 Conference will begin on Tuesday, June 5 at 9:00 in %> 
  <%# <%= room_modal_link(Room.find(4)) %1> %>
  <%# (Via Castiglione, 36). The opening session will include greetings of the Rector Francesco Ubertini, the President of Emilia Romagna Region Stefano Bonaccini, the Bologna Mayor Virginio Merola, the  Chair of SIAG/IS Gitta Kutyniok, the President of SIMAI-Italy Luca Formaggia, the Director of the Department of Mathematics at Alma Mater Giovanni Dore, and the Conference General Co-chair and Vice-chair of SIAG/IS Fiorella Sgallari. %>
  <%# </p> %>

  <div class="alert alert-success">
    <h4>BEST POSTER AWARD</h4>

    <dl class="dl-horizontal">
      <dt>Winner</dt>
      <dd><a href="https://www.siam-is18.dm.unibo.it/presentations/795">A sequential Monte Carlo for astronomic imaging</a>, Federica Sciacchitano</dd>
      <dt>Second place</dt>
      <dd><a href="https://www.siam-is18.dm.unibo.it/presentations/807">L1 Patch-Based Image Partitioning Into Homogeneous Textured Regions</a>, Maria Oliver</dd>
      <dt>Third Place</dt>
      <dd><a href="https://www.siam-is18.dm.unibo.it/presentations/862">How to use mixture models on patches for solving image inverse problems</a>, Antoine Houdard</dd>
    </dl>
  </div>

  <div class="alert alert-success">
    <h4>BEST CHALLENGING APPLICATION</h4>

    <p><a href="https://www.siam-is18.dm.unibo.it/presentations/683">Multi-instrument Medical Imaging Analysis for Personalized Joint Replacement Design</a>, Claudio Belvedere</p>
  </div>

</div><!-- container -->
<hr/>

