<div class="container" style="max-width: 992px;">
  <p class="centered">
  <span class="fa-stack fa-lg" style="margin-top: 20px; font-size: 60px; border-radius: 50%; border: 3px solid; color: green">
    <i class="fa fa-bell-o fa-stack-1x"></i>
  </span>
  </p>

  <div class="alert alert-success">
    <h4>BEST POSTER AWARD</h4>

    <dl class="dl-horizontal">
      <dt>Winner</dt>
      <dd><a href="https://www.siam-is18.dm.unibo.it/presentations/795">A sequential Monte Carlo for astronomic imaging</a>, Federica Sciacchitano</dd>
      <dt>Second place</dt>
      <dd><a href="https://www.siam-is18.dm.unibo.it/presentations/807">L1 Patch-Based Image Partitioning Into Homogeneous Textured Regions</a>, Maria Oliver</dd>
      <dt>Third Place</dt>
      <dd><a href="https://www.siam-is18.dm.unibo.it/presentations/862">How to use mixture models on patches for solving image inverse problems</a>, Antoine Houdard</dd>
    </dl>
  </div>

  <div class="alert alert-success">
    <h4>BEST CHALLENGING APPLICATION</h4>

    <p><a href="https://www.siam-is18.dm.unibo.it/presentations/683">Multi-instrument Medical Imaging Analysis for Personalized Joint Replacement Design</a>, Claudio Belvedere</p>
  </div>

  <div class="row" style="text-align: center; margin: 20px;">
    <div class="col-md-10 col-md-offset-1">
      <p>
      <h4>Siam-IS18 Winners</h4>
      <img src="https://www.siam-is18.dm.unibo.it/photos/Siam2018_Winner.jpg" alt="Siam2018 Winner" class="img-rounded img-responsive"/>
      </p>
    </div>
  </div>
  <div class="row" style="text-align: center; margin: 20px">
    <div class="col-md-6">
      <p>
      <h4>Siam-IS18 Best Poster Winners</h4>
      <img src="https://www.siam-is18.dm.unibo.it/photos/Siam2018_Best_poster_Winner.jpg" alt="Siam2018 Winner" class="img-rounded img-responsive"/>
      </p>
    </div>
    <div class="col-md-6">
      <p>
      <h4>Siam-IS18 Best Challengin Application Winner</h4>
      <img src="https://www.siam-is18.dm.unibo.it/photos/Siam2018_Best_Challenging_App_winnerl.jpg" alt="Siam2018 Winner" class="img-rounded img-responsive"/>
      </p>
    </div>
  </div>

</div><!-- container -->

<hr/>


