<%# <p class="centered alert alert-info" style="font-size: 120%"> %>
<%#   SIAM-IS18 <br/> is happening in <br/> <strong><%= big_icon('bell') %1> <%= (Rails.configuration.conference_start_date - Date.today).to_i %1> days!</strong> %>
<%# </p> %>

<div class="container" style="max-width: 992px;">
  <p class="centered">
  <span class="fa-stack fa-lg" style="margin-top: 20px; font-size: 60px; border-radius: 50%; border: 3px solid; color: green">
    <i class="fa fa-bell-o fa-stack-1x"></i>
  </span>
  </p>

  <%# <p> %>
  <%# The SIAM IS18 Conference will begin on Tuesday, June 5 at 9:00 in %> 
  <%# <%= room_modal_link(Room.find(4)) %1> %>
  <%# (Via Castiglione, 36). The opening session will include greetings of the Rector Francesco Ubertini, the President of Emilia Romagna Region Stefano Bonaccini, the Bologna Mayor Virginio Merola, the  Chair of SIAG/IS Gitta Kutyniok, the President of SIMAI-Italy Luca Formaggia, the Director of the Department of Mathematics at Alma Mater Giovanni Dore, and the Conference General Co-chair and Vice-chair of SIAG/IS Fiorella Sgallari. %>
  <%# </p> %>

  <div class="alert alert-warning">
  <h2>THURSDAY JUNE 7: LAST MINUTE CHANGES</h2>
  <p><strong><a href="/minisymposia/91">MS51</a></strong> New Talk 3 by Tamir Bendory “Toward single particle reconstruction without particle picking: Breaking the detection limit”</p>
  <p><del><strong><a href="/minisymposia/102">MS54-1</a></strong>, Talk 2 by Laura Schreiber: cancelled</del>.</p>
  <p><strong><a href="/minisymposia/102">MS54-1</a></strong> New scheduling of MS54-1: Talk 2 14:30 by Aki Pulkkinen ; Talk 3 15:00 by Minha Yoo</p>
  </div>

  <div class="alert alert-info">
    <h2>TODAY: PANEL SESSION</h2>
    <p><strong>13:00</strong> - <a href="https://www.siam-is18.dm.unibo.it/panel_sessions">FORWARD LOOKING PANEL - IMAGING SCIENCE IN THE AGE OF MACHINE LEARNING.</a> Room B (in connection with Room A).
    </p>
  </div>

  <div class="alert alert-info">
    <h4>16:30 - DEDICATION TO FORMER RECTOR PROF. PIER UGO CALZOLARI OF ROOM A BY THE RECTOR PROF. FRANCESCO UBERTINI.</h4>
  </div>

</div><!-- container -->
<hr/>

