<%# <p class="centered alert alert-info" style="font-size: 120%"> %>
<%#   SIAM-IS18 <br/> is happening in <br/> <strong><%= big_icon('bell') %1> <%= (Rails.configuration.conference_start_date - Date.today).to_i %1> days!</strong> %>
<%# </p> %>

<div class="container" style="max-width: 992px;">
  <p class="centered">
  <span class="fa-stack fa-lg" style="margin-top: 20px; font-size: 60px; border-radius: 50%; border: 3px solid; color: green">
    <i class="fa fa-bell-o fa-stack-1x"></i>
  </span>
  </p>

  <%# <p> %>
  <%# The SIAM IS18 Conference will begin on Tuesday, June 5 at 9:00 in %> 
  <%# <%= room_modal_link(Room.find(4)) %1> %>
  <%# (Via Castiglione, 36). The opening session will include greetings of the Rector Francesco Ubertini, the President of Emilia Romagna Region Stefano Bonaccini, the Bologna Mayor Virginio Merola, the  Chair of SIAG/IS Gitta Kutyniok, the President of SIMAI-Italy Luca Formaggia, the Director of the Department of Mathematics at Alma Mater Giovanni Dore, and the Conference General Co-chair and Vice-chair of SIAG/IS Fiorella Sgallari. %>
  <%# </p> %>

  <h3>BUSINESS MEETING</h3>
  <p>at 17.45 in Room B (connected with Room A)</p>
</div><!-- container -->
<hr/>

