<%# <p class="centered alert alert-info" style="font-size: 120%"> %>
<%#   SIAM-IS18 <br/> is happening in <br/> <strong><%= big_icon('bell') %1> <%= (Rails.configuration.conference_start_date - Date.today).to_i %1> days!</strong> %>
<%# </p> %>

<div class="container" style="max-width: 992px;">
  <p class="centered">
  <span class="fa-stack fa-lg" style="margin-top: 20px; font-size: 60px; border-radius: 50%; border: 3px solid; color: green">
    <i class="fa fa-bell-o fa-stack-1x"></i>
  </span>
  </p>

  <%# <p> %>
  <%# The SIAM IS18 Conference will begin on Tuesday, June 5 at 9:00 in %> 
  <%# <%= room_modal_link(Room.find(4)) %1> %>
  <%# (Via Castiglione, 36). The opening session will include greetings of the Rector Francesco Ubertini, the President of Emilia Romagna Region Stefano Bonaccini, the Bologna Mayor Virginio Merola, the  Chair of SIAG/IS Gitta Kutyniok, the President of SIMAI-Italy Luca Formaggia, the Director of the Department of Mathematics at Alma Mater Giovanni Dore, and the Conference General Co-chair and Vice-chair of SIAG/IS Fiorella Sgallari. %>
  <%# </p> %>

  <div class="alert alert-warning">
  <h2>FRIDAY JUNE 8: LAST MINUTE CHANGES</h2>
  <p><strong><a href="/minisymposia/102">MS54-4</a></strong>: new scheduling (due to some last minute changes in the travel arrangements): </p>
  <ul>
    <li>Talk 1 16:30 by Tan Bui-Thanh</li>
    <li>Talk 2 17:00 by Aderito Araujo</li>
    <li>Talk 3 17:30 by Ndiaye Eugene</li>
    <li><del>Talk 3 by Faouzi Triki: cancelled.</del></li>
  </ul>
  <p><strong><a href="/minisymposia/69">MS61-3</a></strong>: Talk 3 by Bernhard Kaplan (<del>Talk 3 by Yimin Zhong: cancelled</del>)</p>
  <p><del><strong><a href="/minisymposia/104">MS76-2</a></strong>: Talk 2 by Steven Diamond: cancelled</del>.</p>
  </div>

  <div class="alert alert-info">
    <h2>TODAY: 13:00 Award Ceremony</h2>
    <p><strong>ROOM B (IN CONNECTION WITH ROOM A)</strong></p>
    <p>Chair: Chair Xue-Cheng Tai</p>
    <ul>
      <li>Greetings from Prof. Luca Formaggia, President SIMAI and Prof. Giovanni Emanuele Corazza, President of CINECA HPCC</li>
      <li>Presentation of CINECA Center by Prof. Corazza and Bassini</li>
      <li>Presentation of the Best Poster Awards</li>
      <li>Presentation of the Best Challenging Application Award by Dr Amalia Schiavo, Azimut</li>
      <li>Presentation by the winner of the Best Challenging Application</li>
    </ul>
  </div>

  <div class="alert alert-info">
    <h4>18:30 Closing remarks <small>ROOM B (IN CONNECTION WITH ROOM A)</small></h4>
  </div>

</div><!-- container -->
<hr/>

