<%= home_program_title("Important Dates and Deadlines", 'calendar') %>  

<%= render 'deadlines/index' %>  

<p class="centered">
  <%# <%= link_to 'submission page', submissions_path, class: 'btn btn-success' %>  
</p>
