<%= home_program_title('Preliminary Announcement', 'bullhorn') %>  

<p>The <a href="http://www.siam.org/activity/imaging">SIAM Activity Group on Imaging Science (SIAG/IS)</a> and the Bologna Committee for IS Conference 2018 (BCIS18) are organizing the biennial SIAM Conference on Imaging Science, one of the flagship events in imaging science and mathematical aspects of imaging. The meeting will highlight the community latest achievements in research, education and software in academia and industry.</p>

<p>The SIAM Conference on Imaging Science, for the first time in Europe, brings together scientists and engineers with an interest in the mathematical and computational aspects of imaging.</p>

<p>The interdisciplinary field of imaging science is experiencing tremendous growth. New devices capable of imaging objects and structures from nanoscale to the astronomical scale are continuously being developed and improved, and as result, the reach of science and medicine has been extended in exciting and unexpected ways. The impact of this technology has been to generate new challenges associated with the problems of formation, acquisition, compression, transmission, and analysis of images. By their very nature, these challenges cut across the disciplines of physics, engineering, mathematics, biology, medicine, and statistics. While the primary purpose of this conference is to focus on mathematical issues, the other facets of imaging, such as biomedical and engineering aspects, for example, will also play an important role.</p>

<p>The SIAG/IS awards the SIAG/IS Best Paper Prize to the authors of the best paper on mathematical and computational aspects of imaging, awards the SIAG/IS Early Career Prize to an outstanding early career researcher in the field of imaging science, and maintains a wiki, a member directory, and an electronic mailing list.</p>
