<p> The SIAM Activity Group on Imaging Science (SIAG/IS) and the Bologna Committee for IS Conference 2018 (BCIS18) are organizing the biennial SIAM Conference on Imaging Science, one of the flagship events in imaging science and mathematical aspects of imaging. The meeting will highlight the community latest achievements in research, education and software in academia and industry.</p>

<p>
The SIAM Conference on Imaging Science, for the first time in Europe, brings together scientists and engineers with an interest in the mathematical and computational aspects of imaging.
</p>
