<h1>Bologna</h1>

<div id="city">
  <h2></h2>
</div>

<div class="row" id="aula_magna">
  <div class="col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11384.91428731163!2d11.3487226!3d44.4899831!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x22dfa3bc1f9950c1!2sAula+Absidale+di+Santa+Lucia!5e0!3m2!1sen!2sit!4v1487060261017" frameborder="0" style="border:0" width="100%" height="300" allowfullscreen></iframe>
  </div>
  <div class="col-md-6 description">
    <h2>Aula Magna Santa Lucia</h2>
  </div>
</div>

<div class="row" id="belmeloro">
  <div class="col-md-6 description">
    <h2>Complesso Belmeloro</h2>
  </div>
  <div class="col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d711.4883055740406!2d11.355243292820617!3d44.49562528815605!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd08b62f4b7cfd0f4!2sUniversit%C3%A0+di+Bologna+-+Aula+Magna+Istologia+Carinci!5e0!3m2!1sen!2sit!4v1487060477277" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>


