<%= program_title('Child Care', 'child') %>  

<div style="margin-bottom: 50px">
  <h4><a href="http://www.lecicogne.net" target="_new"><%= icon('external-link') %> Le cicogne</a></h4>
  <p><strong>Indicative rates:</strong></p>
  <p>
  If reserved a few days in advance: € 16 / each hour (for a maximum of 2-3-4 hours) for a basic Baby Sitting and 
  € 20/each hour for a Baby Sitter speaking foreign languages. </p>
  <p>
    If requested one day before: € 18 + hourly rate.<br/>
    If requested the same day: € 28 + hourly rate.
  </p>
</div>

<div>
  <h4><a href="http://www.borntolife.it/" target="_new"><%= icon('external-link') %> Born to life</a></h4>

  <p><strong>Indicative rates:</strong></p>
  
  <p>€ 25 agency fee + hourly rate € 13. After 10 PM: € 15</p>
  <p>Foreign languages available.</p>
  <p>Reservations: 2 weeks in advance.</p>
</div>



