<%= program_title('Audio-visual Policy ', 'video-camera') %>  

<h2>Standard Audio-visual Set-up in Meeting Rooms</h2>

<p>The <strong>Plenary Session Room</strong> will have one (1) PC, two (2) screens and two (2) data projectors. The data projectors support VGA connections only. Presenters requiring an HDMI or alternate connection must provide their own adaptor.
</p>


<p>All other concurrent/breakout rooms will have one (1) PC, one (1) screen, one (1) data projector and (1) whiteboard. The data projectors support VGA connections only. Presenters requiring an HDMI or alternate connection must provide their own adaptor. Overhead projectors will be provided only if requested. If you want to request an overhead projector for your session, please email siam-is2018@unibo.it no later than May 15, 2018.</p>

<p>Cables or adaptors for Apple computers are not supplied, as they vary for each model. Please bring your own cable/adaptor if using a Mac computer.</p>


