<h1>Privacy</h1>

<p>This information is provided - also in pursuance of 
<%= link_to 'Section 13 of Legislative Decree no. 196/2003', 
            'http://www.garanteprivacy.it/web/guest/home/docweb/-/docweb-display/docweb/4814258' %>
to any entity having to do with the web-based services that are made available by the SIAM Conference on
IMAGING SCIENCE 2018 via electronic networks as from the following address:
</p>

<p><%= link_to 'https://www.siam-is18.dm.unibo.it/', 'https://www.siam-is18.dm.unibo.it/' %></p>

<p>which corresponds to the home page of our official web site.</p>

<h2>Data Controller</h2>

<p>Visiting this site may result into the processing of data concerning identified or identifiable persons.</p>

<p>The data controller is Prof. Fiorella Sgallari c/o Dipartimento di Matematica, Università di Bologna, P.zza Porta San Donato, 5 - 40126 Bologna (Italy).</p>

<h2>Contact Information</h2>

<p>If you have any questions or comments about this Privacy Policy, you can contact us at:</p>

<pre>
Comitato SIAM-IS18
Dipartimento di Matematica
Piazza di Porta San Donato, 5
40126, Bologna 
Italy

<%= mail_to_siam %>  
</pre>
