<%= program_title("Information for treatment of personal data", 'user-secret') %>  

<p>
The following information is made known in accordance to Article 13 of Legislative Decree no. 196/2003 
(the Italian Personal Data Protection Code) with the aim of making you aware of the treatment of all the information relating to personal data 
(both those that will be posted on 
<a href="https://www.siam-is18.dm.unibo.it">www.siam-is18.dm.unibo.it</a>, 
and those possibly acquired during the course of the event). 
</p>

<h2 class="privacy-title">Purpose of treatment</h2>

<p>
All the data that will be included in the registration form and that will be provided through the site will be communicated to the Society for Industrial and Applied Mathematics for the event.</p>
<p>The transfer of personal data to SIAM is optional.</p>
<p>Data may also be processed by authorized persons specifically for administrative purposes and/or for logistical needs. During the event, some photos may be taken in order to publish the most significant ones on the site.  No images will be published which do not appear relevant for or in relation to the purposes of promoting this specific event.</p>
<p>Refusal to provide personal data, however, makes it impossible to subscribe to the event and to use the data in the context of the conference activities.</p>
<p>Your personal data could be subsequently processed by SIAM with the intent to encourage collaboration in the field of science and in the context of the purposes expressly stated by the subject in the information indicated at the following link 
<a href="https://www.siam.org">www.siam.org</a> in accordance with US law.
</p>

<h2 class="privacy-title">Methods for processing data</h2>

<p>The collected personal data are handled with computer tools.</p> 
<p>Appropriate security measures are used to prevent data loss, misuse or incorrect use, and unauthorized access.</p>

<h2 class="privacy-title">The holder and responsible for treatment</h2>

<p>The authority responsible for processing the data for the sole purpose of the event, data controller, is the 
<i>BCIS Committee</i> based at the Department of Mathematics - Piazza di Porta San Donato, 5 - 40126 Bologna - Italy.</p>

<p>The authority responsible for the treatment of site maintenance related activities at 
<a href="https://www.siam-is18.dm.unibo.it">www.siam-is18.dm.unibo.it</a>
is the <i>Department of Mathematics</i> - Piazza di Porta San Donato, 5 - 40126 Bologna - Italy.</p>
<p>Data may be processed by persons authorized by the department, pursuant to Article 29 of the Personal Data Protection Code.</p>

<h2 class="privacy-title">Rights of the interested parties</h2>

<p>The owners of personal data have the right at any time to obtain confirmation of whether or not the data exist, to know its content and source, and to verify its accuracy or to request its integration, updating or rectification (Article 7 of the Code on the Protection of Personal Data).</p>

<p>According to the same article, you have the right to request the cancellation, transformation into anonymous form, or the blocking of personal data that was processed in violation of the law, and to oppose in any case, for legitimate reasons, its treatment.</p>

<p>Requests must be sent to <%= mail_to_siam %>.</p>

