<%= program_title("Information for treatment of personal data", 'user-secret') %>  

<p>
The following information is made known in accordance to Article 13 of Legislative Decree no. 
196/2003 (the Italian Personal Data Protection Code) with the aim of making you aware of 
the treatment of all the information relating to personal data 
(both  information collected on 
<a href="https://www.siam-is18.dm.unibo.it">www.siam-is18.dm.unibo.it</a>, 
and information acquired during the course of the event).
</p>

<h2 class="privacy-title">Purpose of treatment</h2>

<p>
All data that will be collected on the registration form and provided through the conference event 
site will be communicated to the Society for Industrial and Applied Mathematics (SIAM). 
The transfer of personal data to SIAM is optional. 
</p>
<p>
Participants will be allowed to opt-out and not have personal information sent to SIAM. 
Data will be processed by authorized persons specifically for conference event administrative purposes and/or for logistical needs. 
Refusal to provide personal data, however, will make it impossible to subscribe to the event since the data is needed in the context of the conference activities. 
</p>
<p>
Your personal data could be subsequently processed by SIAM (unless a participant opts-out) with the intent to encourage collaboration in the field of science and in the context of the purposes expressly indicated at the following link 
<a href="https://www.siam.org/">www.siam.org</a>, in accordance with US law. 
SIAM privacy policy can be found at 
<a href="https://www.siam.org/about/privacypolicy.php">www.siam.org/about/privacypolicy.php</a>. 
</p>
<p>
During the event, photos may be taken and may be published on the event site.  No images will be published which do not appear relevant for or in relation to the purposes of promoting this specific event.
</p>

<h2 class="privacy-title">Methods for processing data</h2>

<p>
The collected personal data is handled with computer tools. Appropriate and reasonable security measures are used to prevent data loss, misuse or incorrect use, and unauthorized access.
</p>

<h2 class="privacy-title">The holder and responsible for treatment</h2>

<p>The authority responsible for processing the data for the sole purpose of the event, data controller, is the 
<i>BCIS Committee</i> based at the Department of Mathematics - Piazza di Porta San Donato, 5 - 40126 Bologna - Italy.</p>

<p>The authority responsible for the treatment of site maintenance related activities at 
<a href="https://www.siam-is18.dm.unibo.it">www.siam-is18.dm.unibo.it</a>
is the <i>Department of Mathematics</i> - Piazza di Porta San Donato, 5 - 40126 Bologna - Italy.</p>
<p>Data may be processed by persons authorized by the department, pursuant to Article 29 of the Personal Data Protection Code.</p>

<h2 class="privacy-title">Rights of the interested parties</h2>

<p>The owners of personal data have the right at any time to obtain confirmation of whether or not the data exist, to know its content and source, and to verify its accuracy or to request its integration, updating or rectification (Article 7 of the Code on the Protection of Personal Data).</p>

<p>According to the same article, you have the right to request the cancellation, transformation into anonymous form, or the blocking of personal data that was processed in violation of the law, and to oppose in any case, for legitimate reasons, its treatment.</p>

<p>Requests must be sent to <%= mail_to_siam %>.</p>

