<%= program_title('Satellite events', 'handshake-o') %>  

<h2>Summer school in <br/>"Computational Methods for Inverse Problems in Imaging"</h2>

<p class="centered">
  <a href="https://site.unibo.it/summer-school-siam-is18"><%= image_tag 'summer_school.png' %></a>
</p>

<hr/>

<h2>Summer school in <br/>"Computational Methods for Inverse Problems in Imaging"</h2>

<p class="centered">
  <a href="http://cmip.lakecomoschool.org"><%= image_tag 'cmip.jpg' %></a>
</p>

<hr/>

<h2>INDAM intensive bimester program <br/>"Computational Methods for Inverse Problems in Imaging"</h2>

<p>After the Summer School, the bimester program will continue with thematic weeks:</p>

<ul>
  <li>Optimization techniques for imaging (11-15 June)</li>
  <li>Numerical methods for Astronomical Imaging (18-22 June)</li>
  <li>Reconstruction methods for sparse-data tomography (25-29 June)</li>
  <li>Restoration of Medical Imaging (9-13 July)</li>
  <li>and it will end with a Workshop (16-18 July).</li>
</ul>

<p> For any info, as well as for registration, check the website <a href="http://scienze-como.uninsubria.it/masi3a/CMIPI2018">http://scienze-como.uninsubria.it/masi3a/CMIPI2018</a>.</p>

<p>Based on the available funds and upon request, financial support for accommodation is available for PhD students and Post-Docs who would require it.</p>






