<%= program_title('Travel opportunities', 'plane') %>  

<div class="alert alert-success">
  <p>Special rates for the SIAM IS18 Conference:</p>
  <p>The Bologna Touristic Bureau has negotiated special rates for planes and trains. In particular:</p>
  
  <ul>
    <li>Air France KLM</li>
    <li>Trenitalia and Italo</li>
  </ul>
</div>

<p>For more details and for the discount code write to <%= mail_to_siam %></p>
