<%= program_title('Travel Awards', 'plane') %>  

<ol>
  <li>SIAM Student Travel Awards (see <a href="http://www.siam.org/prizes/sponsored/travel.php">SIAM regulation</a>)</li>
  <li>NSF funded SIAM Travel Support for Post-doc/Early Career Attendees, only for individuals affiliated with US Institutions (see <a href="http://www.siam.org/prizes/sponsored/postdoctravel.php">SIAM regulation</a>)</li>
  <li>SIAM IS-14 Conference Student/Post-doc Travel Awards (see <a href="https://www.siam.org/meetings/is14/ConfTravelAwards.html">Conference regulation</a>)</li>
</ol>

<p class="centered alert alert-info">Deadline of the above awards: 30 October 2017</h2>

<p>An applicant can apply more than one award schemes, he/she can obtain at most one award among the schemes.</p>

<p> *** All recipents must <%= link_to 'register', conference_registrations_path %> SIAM IS18</p>

