<%= program_title('Travel Awards', 'plane') %>  

<p class="centered alert alert-info">
  Deadline for application to all travel award schemes: October 30, 2017.<br/>
  <strong>All recipents must <%= link_to 'register to', conference_registrations_path %> SIAM IS18.</strong>
</p>

<div class="row">
  <div class="col-md-6">
    <h3>SIAM Student Travel Awards</h3>
    <p>SIAM Student Travel Awards are given to help students gain the experience and exposure that comes from attending and presenting at SIAM conferences. The travel awards are intended to help students defray some of the costs of their attendance. </p>
    <p class="centered">
      <a href="http://www.siam.org/prizes/sponsored/travel.php" class="button">Visit SIAM Student Travel Awards page</a>
    </p>
  </div>

  <div class="col-md-6">
    <h3>NSF funded SIAM Travel Support</h3>
    <p>NSF funded SIAM Travel Support for Post-doc/Early Career Attendees, reserved exclusively for individuals affiliated with US Institutions.</p>
    <p class="centered">
      <a href="http://www.siam.org/prizes/sponsored/earlycareertravel.php" class="button">Visit Travel Support for Post-doc/Early Career Attendees page</a>
    </p>
  </div>
</div>

<h2>SIAM IS-18 Conference Student/Post-doc Travel Awards</h2>

<p>SIAM-IS18 will offer a limited number of student/post-doc travel awards to Phd students or post-docs (within two years after phd title) who will present a minisymposium or contributed talk during the conference.</p>

<p>An individual can apply to more than one award scheme, but he/she can obtain at most one award among the schemes.</p>

<p>If you would like to apply for the student/post-doc travel award, please send the following information to
<%= mail_to 'siam-is18@unibo.it' %>.</p>

<ul>
  <li>The title and abstract of minisymposium/contributed talks 
    (if it is a minisymposium talk, please also provide the title of the minisymposium)</li>
  <li>A curriculum vitae</li>
  <li>A support letter from the advisor</li>
</ul>

<p>Successful applicants will be notified receipt of the travel award by mid-December 2017.</p>

