<%= program_title('Travel Awards', 'plane') %>  

<p>NSF funded SIAM Travel Support for Post-doc/Early Career Attendees, reserved exclusively for individuals affiliated with US Institutions</p>

<ol>
  <li>SIAM Student Travel Awards (see <a href="http://www.siam.org/prizes/sponsored/travel.php">SIAM regulation</a>)</li>
  <li>NSF funded SIAM Travel Support for Post-doc/Early Career Attendees, only for individuals affiliated with US Institutions (see <a href="http://www.siam.org/prizes/sponsored/postdoctravel.php">SIAM regulation</a>)</li>
  <li>SIAM IS-18 Conference Student/Post-doc Travel Awards.
</ol>

<p class="centered alert alert-info">
  Deadline for application to all travel award schemes: October 30, 2017
</p>

<p>An individual can apply to more than one award scheme, but he/she can obtain at most one award among the schemes.</p>

<p> *** All recipents must <%= link_to 'register', conference_registrations_path %> SIAM IS18</p>

<p>SIAM-IS18 will offer a limited number of student/post-doc travel awards to Phd students or post-docs (within two years after graduation) who will present a minisymposium or contributed talk during the conference.</p>

<p>If you would like to apply for the student/post-doc travel award, please send the following information to
<%= mail_to 'siam-is18@unibo.it' %>.</p>

<ul>
  <li>The title and abstract of minisymposium/contributed talks 
    (if it is a minisymposium talk, please also provide the title of the minisymposium)</li>
  <li>A curriculum vitae</li>
  <li>A support letter from the advisor</li>
</ul>

<div class="alert alert-warning">
<h3>Remark</h3>

<ul>
  <li>The recipents of the SIAM-IS18 Student/Post-doc Travel Award must be registered to the conference, they must attend the conference and present a talk.</li>
  <li>Application to one ore more award schemes does not automatically guarantee the award of the funding. Due to the limited number of travel awards, awardees will be selected by the SIAM-IS18 Co-Chairs.</li>
  <li>Successful applicants will be notified receipt of the travel award by mid-December 2017.</li>
</ul>
</div>


