<%= program_title('Travel Awards', 'plane') %>  

<ol>
  <li>SIAM Student Travel Awards (see <a href="http://www.siam.org/prizes/sponsored/travel.php">SIAM regulation</a>)</li>
  <li>NSF funded SIAM Travel Support for Post-doc/Early Career Attendees, only for individuals affiliated with US Institutions (see <a href="http://www.siam.org/prizes/sponsored/postdoctravel.php">SIAM regulation</a>)</li>
  <li>SIAM IS-18 Conference Student/Post-doc Travel Awards.
</ol>

<p class="centered alert alert-info">Deadline of the above awards: 30 October 2017</h2>

<p>An applicant can apply more than one award schemes, he/she can obtain at most one award among the schemes.</p>

<p> *** All recipents must <%= link_to 'register', conference_registrations_path %> SIAM IS18</p>

<h2>SIAM IS-18 Conference Student/Post-doc Travel Awards</h2>

<p>SIAM-IS18 will offer some student/post-doc travel awards to Phd student or post-doc 
(within two years after graduation) speakers of minisymposium/contributed talks in SIAM-IS18 conference.</p>

<p>If you would like to apply for the student/post-doc travel award, please send the following information to
<%= mail_to 'siam-is18@unibo.it' %>.</p>

<ul>
  <li>The title and abstract of minisymposium/contributed talks 
    (if it is a minisymposium talk, please also provide the title of the minisymposium)</li>
  <li>A curriculum vitae</li>
  <li>A support letter from the advisor</li>
</ul>

<h3>Remark</h3>

<ul>
  <li>For the recipents of student/post-doc travel awards, they must register and attend the conference, and present the talk.</li>
  <li>Due to the limited number of travel awards, the awardee will be selected by the SIAM-IS18 Co-Chairs.</li>
  <li>The SIAM-IS18 will notify the applicants for the award by mid-December 2017.</li>
</ul>


