<nav aria-label="Day pagination">
  <ul class="nav nav-tabs nav-justified">
    <% percent = (100 / Rails.configuration.number_of_days).to_i %>  
    <% (0...Rails.configuration.number_of_days).each do |daynumber| %>  
      <% day = Schedule.conference_day(daynumber) %>
      <li role="presentation" style="float: left; display: block; width: <%= percent %>%">
        <% day_string = "<strong>#{day.strftime('%^a')}</strong><br/>#{day.strftime('%d %B')}" %>  
        <%= link_to day_string.html_safe, conference_program_path(day: daynumber, room_id: @room ? @room.id : nil), class: "list-group-item #{'active' if day == current_day}" %>
      </li>
    <% end %>
  </ul>
</nav>

