<table class="table conference_program">
  <tr>
    <th></th>
    <% Schedule.conference_days_array.each do |day| %>  
      <th><%= l day, format: :schedule_day_and_hour %></th>
    <% end %>
  </tr>
  <tr>
    <th>08:15</th>
    <td></td>
    <td rowspan="3" class="plenary">PLENARY 3</td>
    <td rowspan="3" class="plenary">PLENARY 4</td>
    <td></td>
  </tr>
  <tr>
    <th>08:30</th>
    <td></td>
    <td rowspan="2">AWARDS</td>
  </tr>
  <tr>
    <th>08:45</th>
  </tr>
  <tr>
    <th>09:00</th>
  </tr>

</table>
