<p>SIAM requests that individuals limit themselves to giving one talk. (This does not apply to invited plenary speakers). The co-chairs of the organizing committee may make exceptions to this request.</p>
<p>All submissions are subject to review and final approval by the co-chairs.</p>

<%= render partial: 'deadlines/submission' %>  

<% if Deadline.can_propose?(:Minisymposium) or Deadline.can_propose?(:presentation) %>  
  <p>You are invited to contribute a presentation for this conference in one of the following formats: </p>

  <div class="row">
    <div class="col-md-6">
      <%= render partial: 'minisymposium_proposal' if Deadline.can_propose?(:minisymposium) %>  
    </div>

    <div class="col-md-6">
      <%= render partial: 'presentation_proposal'  if Deadline.can_propose?(:presentation) %>  
    </div>
  </div>
<% end %>

