<% if Deadline.can_propose?(:minisymposium) or Deadline.can_propose?(:presentation) %>  
  <p>You are invited to contribute a presentation for this conference in one of the following formats: </p>

  <div class="row">
    <div class="col-md-6">
      <%= render partial: 'minisymposium_proposal' %>  
    </div>

    <div class="col-md-6">
      <%= render partial: 'presentation_proposal' %>  
    </div>
  </div>
<% end %>

