<div class="minisymposium_submission">
<p class="centered">
<% if Deadline.can_propose?(:minisymposium) %>
  <%= link_to 'Submit <br/><strong>Minisymposium Proposal</strong>'.html_safe, new_minisymposium_path %>
<% else %>
  <%= link_to "<strong><s>Minisymposium Proposal</s></strong><br/>available from #{Deadline.minisymposium_proposal_start} to #{Deadline.minisymposium_proposal_end}".html_safe, '', disabled: true %>
<% end %>
</p>
<p class="alert alert-info">
A <strong>minisymposium</strong> generally consists of four 25-minute presentations, with an additional five minutes for discussion after each presentation.<br/> 
To ensure balance, SIAM prefers a single individual not be the organizer of more than one minisymposium, however, organizers can submit up to four (4) parts per minisymposium, allowing up to 16 speakers. <br/>
In addition, SIAM discourages minisymposia in which most of the speakers or co-authors come from the same institution.
</p>
</div>
