<div class="minisymposium_submission">
<% if Deadline.can_propose?(:minisymposium) %>
  <p class="centered">
  <%= link_to 'Submit <br/><strong>Minisymposium Proposal</strong>'.html_safe, new_minisymposium_path %>
  </p>
  <p class="alert alert-info">
  A <strong>minisymposium</strong> generally consists of four 25-minute presentations, with an additional five minutes for discussion after each presentation.<br/> 
  To ensure balance, SIAM prefers a single individual not be the organizer of more than one minisymposium, however, organizers can submit up to four (4) parts per minisymposium, allowing up to 16 speakers. <br/>
  In addition, SIAM discourages minisymposia in which most of the speakers or co-authors come from the same institution.
  </p>
<% end %>
</div>
