<% if current_user and Deadline.can_propose?(:presentation) %>  
  <div class="presentation_proposal_submission">
    <p class="centered">
    <%= link_to 'Submit <br/><strong>Presentation Proposal</strong>'.html_safe, new_presentation_path %>
    <%= link_to 'Submit <br/><strong>Poster Proposal</strong>'.html_safe, new_presentation_path(poster: true) %>
    </p>
  </div>
<% end %>
