<div class="presentation_proposal_submission">
<p class="centered">
<%= link_to 'Submit <br/><strong>Presentation Proposal</strong>'.html_safe, new_presentation_path %>  
<%= link_to 'Submit <br/><strong>Poster Proposal</strong>'.html_safe, new_presentation_path(poster: true) %>  
</p>
<p class="alert alert-info">
Contributed presentations in lecture or poster format are invited in all areas consistent with the conference themes.<br/>
A <strong>lecture</strong> format is generally a 15-minute oral presentation with an additional 5 minutes for discussion. Talk lengths will be determined by the co-chairs at the close of submissions. A <strong>poster</strong> format involves the use of non-electronic visual aids for mounting on a 4’ x 8’ poster board. A poster session is two hours long. Each contributor, either for a lecture or a poster, must submit a title and a brief abstract not to exceed 75 words. 
</p>
</div>

