<h1>Submissions</h1>

<h2>Contributed Presentations</h2>

<ul>
<% Presentation.unassigned.not_poster.each do |presentation| %>  
  <li>
    <em><%= presentation.authors_to_s %></em>  <%= presentation %>
  </li>
<% end %>
</ul>

<h2>Poster Presentations</h2>
<ul>
<% Presentation.unassigned.poster.each do |presentation| %>  
  <li>
    <em><%= presentation.authors_to_s %></em>  <%= presentation %>
  </li>
<% end %>
</ul>

