<h1>Submissions</h1>

<h2>Minisymposia</h2>
<%= render Minisymposium.all, one_line: true %>     

<h2>Contributed Presentations</h2>
<%= render partial: 'approvals', locals: {what: Presentation.not_poster} %>  

<h2>Poster Presentations</h2>
<%= render partial: 'approvals', locals: {what: Presentation.poster} %>  

