<%= program_title('Invitation letter requests', 'envelope') %>  

<ul>
<% @invitation_letters.each do |letter| %>  
  <li> <%= link_to letter.user, letter.user, remote: :true %> </li>
<% end %>
</ul>
