<%= program_title('Invitation letter requests', 'envelope') %>  

<ul class="list-group">
<% @invitation_letters.each do |letter| %>  
  <li class="list-group-item <%= 'list-group-item-success' if letter.complete %>  "> <%= link_to letter.user, letter %> </li>
<% end %>
</ul>
