<div class="row">
<div class="col-md-8 col-md-offset-2">
  <div class="panel panel-info">
    <div class="panel-heading">
      <h2><%= big_icon(:file) %>Letter of Invitation Request Form</h2>
      <p>
      Please allow three to four weeks for processing and delivery of Letter of Invitation.
      </p>
    </div>
    <div class="panel-body">
      <%= render partial: 'form' %>  
    </div>
  </div>
</div>
</div>




