<p><strong>Conference Registration Fee Includes:</strong></p>

<ol>
  <li>Admission to all technical sessions</li>
  <li>Business Meeting (open to SIAG/IS members)</li>
  <li>Social Dinner (the cost of the dinner is 65 euros per every accompanying guest)</li>
  <li>Coffee breaks daily</li>
  <li>Welcome Lunch and Poster Session</li>
  <li>Room set-ups and audio/visual equipment</li>
  <li>Wi-Fi access at the conference</li>
</ol>

<p><strong>Accepted Credit Cards:</strong></p>
<p><%= t(:credit_cards) %>.</p>

<% unless current_user %>  
  <p>In order to register please, <%= login_link button: true %></p>
<% end %>
