<ul>
<li>IEEE SPS and ASA Imaging Science Section members are eligible to register at the SIAM Member rate</li>
<li>STUDENTS must show a current student id upon checking in at the Siam registration desk.</li>
</ul>
<h2>Conference Registration Fee Includes:</h2>

<ol>
  <li>Admission to all technical sessions</li>
  <li>Business Meeting (open to SIAG/IS members)</li>
  <li>Coffee breaks daily</li>
  <li>Room set-ups and audio/visual equipment</li>
  <li>Welcome Reception and Poster Session</li>
</ol>

