<p>
<%= icon('cutlery', size: 36) %> &nbsp;
The registration includes the <strong>social dinner</strong> (Wednesday, June 6th). <br/>
In case you want to <strong>invite</strong> other people you (the cost of the dinner is 65,00 euros per person) please select the number of guests in <%= link_to 'your personal data page', edit_user_path(current_user) %>. 
</p>
