<h1>Payment</h1>

<p class="centered">
I, <%= current_user.to_s %>, want to register to the meeting SIAM Conference on Imaging Science (IS18)
<%= form_tag payments_path do %>  
  <input type="submit" value="PAY <%= @price_to_pay_and_reason[0] %> &euro; for Registration" />
  <br/>(<%= @price_to_pay_and_reason[1] %>)
<% end %>
</p>


