<div class="row">
<div class="col-md-6 col-md-offset-3">
  <div class="panel panel-success">
    <div class="panel-heading">
      <h1><%= icon('thumbs-up', size: 48) %> Your payment has been verified.</h1>
    </div>
    <div class="panel-body">
      <p>Thank you!</p>
      <p>You are now registered to the SIAM Conference on imaging science in Bologna.</p>
      <p>You will recive a mail from SIAM-IS18 Commettee within 5-10 days.</p>
    </div>
  </div>
</div>
</div>

