<%= program_title('Minitutorials', 'wrench') %>  

<% if @minitutorials.empty? %>  
  <div class="future_magic">
    <p>Multiple minitutorials will be organized for presentation during the conference.</p>
    <p>Additional details will be posted as they become available.</p>
  </div>
<% end %>

<% if user_in_organizer_committee? %>
  <p class="centered"><%= link_to 'Create a Minitutorial Session', new_minitutorial_path, class: :big_button %></p>
<% end %>

<%= render @minitutorials %>  

