@import "variables";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "typeaheadjs";
@import "home";
@import "panel";

body {
  padding-top: 90px;
  font-family: 'Roboto Condensed', sans-serif;
}
.centered {
  margin-left:  auto; 
  margin-right: auto; 
  text-align:   center;
}
h1 {
  text-transform: uppercase;
  // color: $blue;
  //text-shadow: 2px 2px 0 $blue;
}
h1, h2, h3, h4 {
  @extend .centered;
  font-weight: 300;
}
h1.program {
  margin-bottom: 36px;
  border: 3px solid #000;
  display: inline-block;
  padding: .5em;
}

.button {
  @extend .btn;
  @extend .btn-primary;
}
.big_button {
  @extend .button;
  @extend .btn-lg;
}
.big_pay_button {
  @extend .big_button;
  @extend .btn-info;
  input {
    font-size: 1.5em;
  }
}

.navbar-main {
  font-size: 16px;
}

/* FORMS */
input[type="submit"] {
  @extend .btn;
  @extend .btn-primary;
} 
.form-horizontal input[type="submit"] {
  @extend .col-sm-offset-3;
  margin-bottom: 10px;
}

// bootstrap horizontal bug 
// config/initializers/simple_form_bootstrap.rb
input.boolean {
  width: auto;
  //height: auto;
}

// ul li { list-style-type: none; }

#footer {
  padding: 60px 0 30px 0;
  text-align: center;
  // color: #fff;
  // a {color: #ccc;}
  // background-color: $footer_color;
}

.breadcrumb {
  //background-color: #fff;
  //font-weight: 300;
  //a { color: $color_2; }
}

.minisymposium_submission {
  a {
    @extend .btn;
    @extend .btn-lg;
    @extend .btn-primary;
    // background-color: $minisymposium_color;
  }
}
.presentation_proposal_submission {
  a {
    @extend .btn;
    @extend .btn-lg;
    @extend .btn-primary;
    // background-color: $presentation_color;
  }
}
.footer-actions {
  a { 
    @extend .button; 
    margin-right: 2px;
  }
}

.future_magic {
  font-size: 18px;
  font-weight: bold;
  width: 75%;
  margin: 40px auto;
  padding: 40px;
  text-align: center;
  @extend .alert;
  @extend .alert-info;
}

div.left-code {
  margin: 10px;
  width: 6ex;
  font-weight: bold;
  float: left;
}

div.hotel-panel {
  @extend .panel;
  @extend .panel-default;
  .hotel_description {
    font-size: 13px;
    font-style: italic;
  }
}
div.hotel-panel_selected {
  box-shadow: 10px 10px 5px $blue;
  .hotel_description {   
    color: $red;
  }
}

.modal-dialog {
  width: 80%;
}

.bg-colored, .bg-transparent {
  padding-top: 30px;
  padding-bottom: 30px;
}
.bg-colored-first {
  background-color: $section_first_bg_color;
  color: #fff;
  a { color: #eee; }
}
.bg-colored-second {
  background-color: $section_second_bg_color;
  color: #fff;
  a { color: #eee; }
}
.bg-colored:nth-child(even) {
  @extend .bg-colored-first;
}
.bg-colored:nth-child(odd) {
  @extend .bg-colored-second;
}
  
