@import "variables";
@import "materialize";
@import "material_icons";
//@import "bootstrap-sprockets";
//@import "bootstrap";
//@import "font-awesome-sprockets";
//@import "font-awesome";

body {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  // background: url(asset-path('esagono.svg')) no-repeat center top ;
}
.centered {
  margin-left:  auto; 
  margin-right: auto; 
  text-align:   center;
}
.button {
  @extend .btn;
}
.big_button {
  @extend .btn;
}
.big_pay_button {
  @extend .btn;
  input {
    font-size: 1.5em;
  }
}

.home-header {
  background: url(asset-path('piazza_maggiore.jpg')) no-repeat center top;
  height: 576px;
  width: 100%;
  top: 0;
  z-index: -10;
  text-align: center;
  h1 {
    margin-top: 100px;
    color: #fff;
    font-size: 3em;
  }
}

/* FORMS */
input[type="submit"] {
  @extend .btn;
} 

