@import "variables";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "home";
@import "plenary";

body {
  font-family: 'Roboto Condensed', sans-serif;
}
.centered {
  margin-left:  auto; 
  margin-right: auto; 
  text-align:   center;
}
h1, h2, h3, h4 {
  @extend .centered;
  font-weight: 300;
}

h1 {
  width: 100%;
  text-align: center;
  // text-transform: uppercase;
  // text-shadow: 1px 2px 0 rgba(0,0,0,0.1);
}

.button {
  @extend .btn;
  @extend .btn-default;
}
.big_button {
  @extend .button;
  @extend .btn-lg;
}
.big_pay_button {
  @extend .big_button;
  @extend .btn-info;
  input {
    font-size: 1.5em;
  }
}


/* FORMS */
input[type="submit"] {
  @extend .btn;
  @extend .btn-primary;
} 
.form-horizontal input[type="submit"] {
  @extend .col-sm-offset-3;
  margin-bottom: 10px;
}

// .title {
//   font-size: 1.2em;
//   margin-bottom: 30px;
// }

// .session_in_title {
//   border: 3px solid #ccc;
//   border-radius: 5px;
//   text-align: center;
//   padding: 12px 24px;
//   margin-right: 30px;
//   vertical-align: middle;
//   color: green;
// }
// .Minisymposium {
//   @extend .session_in_title;
// }
// .Minitutorial {
//   @extend .session_in_title;
// }
// .ContributedSession {
//   @extend .session_in_title;
// }
// .PosterSession {
//   @extend .session_in_title;
// }
// .Plenary {
//   @extend .session_in_title;
// }
// .Presentation {
//   @extend .session_in_title;
// }

ul li { list-style-type: none; }

.siam_panel {
  @extend .panel;
  @extend .panel-primary;
  .panel-heading {
    h3 {
      text-transform: uppercase;
      @extend .panel-title;
    }
  }
}
.plenary_panel {
  @extend .siam_panel;
}
.minisymposium_panel {
  @extend .siam_panel;
  // .panel-heading { background-color: $minisymposium_color; }
}
.conference_session_panel {
  @extend .siam_panel;
  // .panel-heading { background-color: $contributed_session_color; }
}
.contributed_session_panel {
  @extend .siam_panel;
  // .panel-heading { background-color: $contributed_session_color; }
}
.minitutorial_panel {
  @extend .siam_panel;
  // .panel-heading { background-color: $minitutorial_color; }
}
.presentation_panel {
  @extend .siam_panel;
  // .panel-heading { background-color: $presentation_color; }
}
.poster_session_panel {
  @extend .siam_panel;
  //.panel-heading { background-color: $poster_session_color; }
}

#footer {
  margin-top: 30px;
  padding-top: 30px;
  text-align: center;
  border-top: 1px solid #ccc;
  margin-top: 20px;
  color: $footer_text_color;
  // background-image: -webkit-radial-gradient(50% 50%, circle, #fff 29%, #EF4734 120%);
  // background-image: radial-gradient( circle at 50% 50%, #fff 29%, #EF4734 120%);
}

.breadcrumb {
  background-color: #fff;
  font-weight: 300;
  a {
    color: $color_2;
  }
}

.minisymposium_submission {
  a {
    @extend .btn;
    @extend .btn-lg;
    @extend .btn-primary;
    background-color: $minisymposium_color;
  }
}
.presentation_proposal_submission {
  a {
    @extend .btn;
    @extend .btn-lg;
    @extend .btn-primary;
    background-color: $presentation_color;
  }
}
.footer-actions {
  a {
    @extend .button;
  }
}

.new-account-button {
  margin: 10px 20px;
}

#aula_magna {
  .description {
    background-color: $color_1;
  }
  padding: 20px;
}

#belmeloro {
  .description {
    background-color: $color_2;
  }
  padding: 20px;
}
