.conference_program_item {
  margin-top: 3px;

  .conference_program_item_name {
    @extend .col-xs-3; 
    @extend .col-md-2;
    @extend .label;
    font-size: 16px; 
    font-weight: bold; 
    padding-top: 1.5em; 
    height: 4em;
  }
  .plenary-session {
    @extend .label-success;
  }
  .minitutorial-session {
    @extend .label-success;
  }
  .minisymposium-session {
    @extend .label-warning;
  }
  .contributedsession-session {
    @extend .label-info;
  }
  .conference_program_item_description {
    @extend .col-xs-9;
    @extend .col-md-10;
  }
}
