.conference_program_item {
  margin-top: 3px;

  .conference_program_item_name {
    @extend .col-xs-2;
    @extend .label;
    font-size: 16px; 
    font-weight: bold; 
    padding-top: 1.5em; 
    height: 4em;
  }
  .conference_program_item_description {
    @extend .col-xs-10;
  }
  @media (max-width: 450px) {
    .conference_program_item_name {
      font-size: 14px;
    }
  }
  .plenary-session {
    @extend .label-success;
  }
  .minitutorial-session {
    @extend .label-success;
  }
  .minisymposium-session {
    @extend .label-warning;
  }
  .contributedsession-session {
    @extend .label-info;
  }
}
