.conference_program_item {
  margin-top: 12px;

  .conference_program_item_name {
    float: left;
    @extend .label;
    @extend .label-success;
    font-size: 16px; 
    font-weight: bold; 
    padding-top: 2em; 
    height: 5em;
    width: 8em;
    margin-right: 1em;
    text-align: center;
  }
  .conference_program_item_description {
    &:after {
      content: " ";
      display: table;
      clear: both;
    }
  }
  @media (max-width: 450px) {
    .conference_program_item_name {
      font-size: 14px;
      width: 5em;
    }
  }
  .plenary-session {
    @extend .label-success;
  }
  .minitutorial-session {
    @extend .label-success;
  }
  .minisymposium-session {
    @extend .label-warning;
  }
  .contributedsession-session {
    @extend .label-info;
  }
}

.conference_program_item.interested {
  @extend .alert-success;
}
