// fix to boostrap default
.carousel-control.right, .carousel-control.left {
  background-image: none;
}
#home_header_container {
  position: relative;
  margin-top: -22px;
  #homeCarousel {
    .item {
      background-repeat: no-repeat;
      background-position: center top;
      background-size: cover; 
      height: 400px;
      @media (min-width: $screen-lg-min) {  
        height: 600px;
      }
    }
  }
  #home_header {
    position: absolute; 
    top: 0px; 
    width: 100%; 
    height: 100%; 

    h1 {
      span {
        background-color: rgba(255, 255, 255, 0.75);
        text-shadow: 1px 1px 0 #fff;
      }
      max-width: 750px;
      text-align: center; 
      // color: $blue; 
      font-weight: bold; 
      letter-spacing: .1em;
      line-height: 1.3em;

      margin-top: 20px;
      margin-bottom: 20px;
      .home_header_title-date {
        line-height: 2em;
        margin-top: 20px;
        text-transform: capitalize;
        text-align: center;
        font-size: 28px;
      }

      font-size: 38px; 
      padding-top: 20px;
      @media (min-width: $screen-lg-min) { 
        font-size: 48px;
        padding-top: 40px;
        span {
          padding: 10px;
        }
        line-height: 2.0em;
        margin-top: 60px;
        margin-bottom: 60px;
      }
    }
  }
}

.home_content_div {
  // h2 {
  //   text-align: left;
  //   padding-bottom: 15px;
  //   @media (min-width: $screen-md-min) { 
  //     margin-left: 20%;
  //   }
  // }
  padding-top: 15px;
  padding-bottom: 15px;
}
.home_section:nth-child(even) {
  background-color: $home_second_bg_color;
  color: $home_second_font_color;
  a { color: #eee; }
  h2 { color: $home_second_font_color; }
}
.home_section .container {
  max-width: 992px;
}

#preliminary_announcement {
  @extend .home_content_div;
}

#conference_themes {
  @extend .home_content_div;
}

#committees {
  @extend .home_content_div;
}

#submissions {
  @extend .home_content_div;
}

#registration {
  @extend .home_content_div;
}

#important_dates {
  @extend .home_content_div;
}

#invited {
  @extend .home_content_div;
  text-align: center;
  .home-plenary {
    .plenary-title {
      font-weight: bold;
    }
    .plenary-when {
      font-style: italic;
    }
    .plenary-where {
      font-size: 80%;
    }
    .plenary-speaker {
    }
    margin-bottom: 20px;
  }
}
#venue {
  @extend .home_content_div;
  .image {
    margin: 0 auto;
    height: 200px;
    width:  300px;
    img {
      @extend .img-circle;
    }
  }
  text-align: center;
}

#sponsors {
  @extend .home_content_div;
}

.sponsor-title {
  @extend .centered;
  margin-top: 60px;
}
.sponsor {
  @extend .col-md-3;
  @extend .col-xs-6;
  height: 140px;
  margin-top: 22px;
  margin-bottom: 22px;
  text-align: center;
  h3 {
    font-weight: bold;
    font-size: 18px;
  }
  img {
    @extend .img-responsive;
    @extend .centered;
    max-height: 120px;
  }
}

@media (max-width: $screen-xs-min) { 
  .sponsor-empty {
    display: none;
  }
}

.home_deadlines {
  @extend .table;
  max-width: 800px;
  td {
    text-align: right;
  }
}

.home-number-container {
  @extend .row;
  margin-top: 30px;
}
.home-number {
  margin: 10px auto;
  text-align: center;
  font-size: 1.5em; 
  font-weight: bold;
  width: 220px; 
  height: 220px; 
  padding-top: 55px;
  border: 9px solid #e6a8a9;
  color: #fff;
  border-radius: 50%; 
  background-color: #c73b3b;
}
