.siam_panel {
  @extend .panel;
  @extend .panel-default;
  .panel-heading {
    text-align: center;
    text-transform: uppercase;
  }
}
.plenary_panel, .minitutorial_panel, .mono_conference_session_panel {
  margin: 30px 0;
  .speaker_name {
    text-align: center;
  }
  .mono_conference_session_content {
    font-style: italic;
    text-align: justify;
    text-justify: inter-word;
  }
}

.minisymposium_panel {
  @extend .siam_panel;
  .panel-heading { background-color: $minisymposium_color; }
}
.conference_session_panel {
  @extend .siam_panel;
  .panel-heading { background-color: $contributed_session_color; }
}
.contributed_session_panel {
  @extend .siam_panel;
  .panel-heading { background-color: $contributed_session_color; }
}
.poster_session_panel {
  @extend .siam_panel;
  .panel-heading { background-color: $poster_session_color; }
}
.presentation_panel {
  @extend .siam_panel;
  .panel-heading { background-color: $presentation_color; }
}

.panel-header-code {
  @extend .badge;
  @extend .pull-right;
  font-size: 18px;
}

