.siam_panel {
  @extend .panel;
  @extend .panel-default;
  .description {
    text-align: justify;
    font-style: italic;
  }
  .panel-heading {
    text-align: center;
    text-transform: uppercase;
  }
}
.plenary_panel, .minitutorial_panel, .mono_conference_session_panel {
  margin: 30px 0;
  .speaker_name {
    text-align: center;
  }
  .mono_conference_session_content {
    font-style: italic;
    text-align: justify;
  }
}

.minisymposium_panel {
  @extend .siam_panel;
  .panel-heading { background-color: $minisymposium_color; }
}
.conference_session_panel {
  @extend .siam_panel;
  .panel-heading { background-color: $contributed_session_color; }
}
.contributed_session_panel {
  @extend .siam_panel;
  .panel-heading { background-color: $contributed_session_color; }
}
.poster_session_panel {
  @extend .siam_panel;
  .panel-heading { background-color: $poster_session_color; }
}
.presentation_panel {
  @extend .siam_panel;
  .panel-heading { background-color: $presentation_color; }
}

.panel-header-code {
  // @extend .badge;
  @extend .pull-right;
  font-size: 18px;
  background-color: #fff;
  color: #000;
  padding: 3px 5px; 
}

.condensed_panel {
  .panel-heading:hover {
    cursor: zoom-in;
  }
}

dl.conference_session_presentations_list {
  margin-top: 6px;
  dt {
    margin-left: 12px;
    margin-top: 6px;
  }
  dd {
    margin-left: 24px;
  }
}

.session_part {
  border: 1px solid;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 5px;
}
