.plenaries {
  margin-top: 10px;
  margin-bottom: 10px;
}

.plenary {
  &:nth-child(even) {
    border: 2px solid $color_1;
  }
  &:nth-child(odd) {
    border: 2px solid $color_2;
  }
  border: 2px solid #ccc;
  padding: 0px;
  margin-top: 10px;
  margin-bottom: 2px;
  margin-top: 0;
  img {
     width: 200px; 
     margin: 30px;
   } 
  .plenary_speaker {
    padding: 10px;
    text-align: center;
  }
  .plenary_body {
    padding: 10px;
  }
  .plenary_schedule {
    font-size: 120%;
    text-align: left;
    margin-left: 10%;
  }
  .plenary_title h2 {
    text-align: left;
    margin-left: 10%;
    font-size: 20px;
    color: #000;
  }
  .plenary_abstract {
    font-style: italic;
    text-align: justify;
    text-justify: inter-word;
    margin-right: 20px;
  }
}

