.plenary {
  @extend .row;
  border: 2px solid #ccc;
  margin-top: 10px;
  margin-bottom: 2px;
  // background-color: $home_second_bg_color;
  .plenary_speaker {
    @include make-md-column(4);
    padding: 10px;
    text-align: center;
    img {
       width: 200px; 
       margin: 30px;
    } 
  }
  .plenary_body {
    @include make-md-column(8);
    padding: 10px;
  }
  .plenary_schedule {
    font-size: 120%;
    text-align: left;
    margin-left: 10%;
  }
  .plenary_title h2 {
    text-align: left;
    margin-left: 10%;
    font-size: 20px;
    color: #000;
  }
  .plenary_abstract {
    font-style: italic;
    text-align: justify;
    text-justify: inter-word;
    margin-right: 20px;
  }
  .plenary_actions {
  }
}

