$navbar-height: 65px;
$font-size-base: 16px;
//$navbar-default-bg: #fff;

//$body-bg: #fcfcfc;
//$grid-float-breakpoint: 1024px;
//$wall-blue: #0f15e5;

$home_second_color: #6799a3;
$venue_text_color: #aee05c;
$minisymposium_color: #6799a3;
$minitutorial_color: #ff8100;
$contributed_session_color: #aee0c5;
$photo_color: #b06123;
$footer_color: #ddd4bc;
