$blue:      #3F729B;
$red:       #C73B3B;
$yellow:    #D8B445;
$green:     #67BE9B;
$lightblue: #E3F2FD;

$section_first_bg_color:  $red;
$section_second_bg_color: $blue;

$footer_color: #999;

@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic');

$navbar-height: 70px;
$font-size-base: 16px;

$home_second_bg_color: $blue;
$home_second_font_color: #FFF;
$venue_text_color: #AEE05C;

// sessions
$plenary_color:             $lightblue; 
$minitutorial_color:        $yellow; 
$minisymposium_color:       $yellow; 
$poster_session_color:      $green; 
$contributed_session_color: $green;

// single
$presentation_color:        #67BE9B;


