<p>Hello <%= @resource.email %>,</p>

<p>If you have requested to change the password relative to your account
for SIAM-IS18 conference in Bologna, you can do this through the link below.</p>

<p style="margin: auto;">
  <%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %>
</p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>


