<p>Contributed presentations in lecture or poster format are invited in all areas consistent with the conference themes.</p>

<p>A <strong>lecture</strong> is generally a <strong>15-minute oral presentation</strong> with an additional 5 minutes for discussion. Talk lengths will be determined by the co-chairs at the close of submissions. Additionally, SIAM requests speakers submit only one lecture presentation for the conference, either a minisymposium or contributed lecture. Poster submissions are not restricted.</p>

<p>A <strong>poster</strong> involves the use of non-electronic visual aids for mounting on a 4’ x 6’ or 4’ x 8’ poster board. A poster session is two hours long. Each contributor, either for a lecture or a poster, must submit a title and a brief abstract not to exceed 75 words.</p>

