<h1><%= icon('users', size: 28) %> Contributed Presentations</h1>

<% if user_in_organizer_commettee? %>  
  <p class="centered"><%= link_to 'Create Contributed Session', new_contributed_session_path, class: :big_button %></p>
<% end %>

<%= render partial: 'deadlines/presentation_submission' %>  

<%= render ContributedSession.includes(:schedule).all %>  

