<%= title('Contributed Presentations', 'users') %>  

<% if user_in_organizer_commettee? %>  
  <p class="centered"><%= link_to 'Create Contributed Session', new_contributed_session_path, class: :big_button %></p>
<% end %>

<%= render partial: 'deadlines/presentation_submission' %>  

<%= render partial: 'conference_sessions/presentations', locals: {conference_sessions: @contributed_sessions} %>  

