<%= program_title('Accomodation', 'hotel') %>  

<% if user_in_organizer_committee? %>  
  <p class="centered"><%= link_to 'New Hotel', new_hotel_path, class: :button %></p>
<% end %>

<p class="alert alert-info">
  Preferred rates with a number of accommodation sites have been negotiated for the Congress. <br/>
  Please mention the SIAM-IS 2018 when reserving your room.
</p>

<% new_row = true %>  
<% Hotel.order(:name).each do |hotel| %>  
  <% if new_row %>
    <div class="row">
  <% end %>
  <div class="col-md-6">
    <%= render hotel %>  
  </div>
  <% unless new_row %>
    </div><!-- row -->
  <% end %>
  <% new_row = ! new_row %>  
<% end %>

<% if ! new_row %>
  </div><!-- row -->
<% end %>


