<%= program_title('Accomodation', 'hotel') %>  

<% if user_in_organizer_committee? %>  
  <p class="centered"><%= link_to 'New Hotel', new_hotel_path, class: :button %></p>
<% end %>

<p class="alert alert-info">
  Preferred rates with a number of accommodation sites have been negotiated for the Congress. <br/>
  Please mention the SIAM-IS 2018 when reserving your room.
</p>

<% column = 0 %>  
<% Hotel.order(:name).each do |hotel| %>  
  <% if column == 0 %>
    <div class="row">
  <% end %>
  <div class="col-md-4">
    <%= render hotel %>  
  </div>
  <% if column == 2 %>
    </div><!-- row -->
  <% end %>
  <% column = (column + 1) % 3 %>  
<% end %>

<% if column == 0 %>
  </div><!-- row -->
<% end %>

<iframe src="https://www.google.com/maps/d/embed?mid=15Dgh5CwsVas1_0aZNPID33hsfq4" width="100%" height="500">
</iframe>

