<footer class="page-footer blue-grey lighten-4">
<div class="container">
  Contacts: <%= mail_to 'Fiorella Sgallari', 'fiorella.sgallari@unibo.it' %>, 
  <%= mail_to 'Serena Morigi', 'serena.morigi@unibo.it' %>
  <p><%= raw stop_impersonation_link %> <%= raw start_impersonation_link %></p>
</div>

<div class="footer-copyright">
  <div class="container">
    © 2016 Unibo <a class="grey-text text-lighten-4 right" href="http://www.unibo.it">Unibo</a>
  </div>
</div>
</footer>

