<div id="footer" role="navigation">
<div class="container" style="text-align: center">
  Contacts: <%= mail_to 'Fiorella Sgallari', 'fiorella.sgallari@unibo.it' %>
            <%= mail_to 'Serena Morigi', 'serena.morigi@unibo.it' %>

  <p>&copy;2016 - <%= link_to 'Privacy', privacy_path %></p>
</div>
</div>

