<div class="home-header">  
<div class="container">
  <h1>
    <%= image_tag 'three.png' %>  
    SIAM Conference on IMAGING SCIENCE<br/>
    <small>June 5-8, 2018 Bologna - Italy</small>
  </h1>
</div>
</div>

