<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      body {
        font-family: sans-serif;
        font-size: 12px;
      }
      .header {
        margin: auto;
        width: 600px;
        padding: 20px;
        text-align: center;
        background-color: #ddd;
        border-top: 2px solid #000;
        border-left: 2px solid #000;
        border-right: 2px solid #000;
      }
      h1 {
        font-size: 16px;
        color: #F67938;
      }
      h2 {
        font-size: 14px;
        color: #F67938;
      }
      .container {
        margin: auto;
        width: 600px;
        padding: 20px;
        border-left: 2px solid #000;
        border-right: 2px solid #000;
        border-bottom: 2px solid #000;
      }
      .footer {
        margin: 20px;
        text-align: center;
      }
    </style>
  </head>

  <body>
    <div class="header">
      <center>
        <%= link_to image_tag('logo.png', style: "width: 150px"), root_url %>  
        <h1>SIAM Conference<br/>on<br/>IMAGING SCIENCE</h1>
        <h2>June 5-8, 2018 Bologna - Italy</h2>
      </center>
    </div>
    <div class="container">
      <%= yield %>
      <hr/>
      <div class="footer">
        <p>
        <%= link_to 'Siam-is18', root_url %>
        </p>
        <p>June 5-8</p>
        <p>[2018 Bologna - Italy]</p>
      </div>
    </div>
  </body>
</html>
